/* Particle shapes */
.triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.diamond {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}


.bg-gradient-radial {
    background-image: radial-gradient(var(--tw-gradient-stops));
}

@keyframes gradient-x {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.bg-size-200 {
    background-size: 200% 200%;
}

.animate-gradient-x {
    animation: gradient-x 8s ease infinite;
}