@keyframes sparkle {

    0%,
    100% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(5deg) scale(1.1);
    }

    50% {
        transform: rotate(-5deg) scale(1);
    }

    75% {
        transform: rotate(5deg) scale(1.1);
    }
}

.sparkle-icon {
    animation: sparkle 5s infinite;
}