@keyframes pulse-slow {

    0%,
    100% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.3;
    }
}

@keyframes gradient-x {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-pulse-slow {
    animation: pulse-slow 3s ease-in-out infinite;
}

.animate-gradient-x {
    animation: gradient-x 8s ease infinite;
}

.bg-size-200 {
    background-size: 200% 200%;
}

.perspective-1000 {
    perspective: 1000px;
}